* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
    
}

img {
    width: 345px;
    height: 240px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 20px;

}

body {
    background-color: rgb(0, 0, 0);
    background-image: url(Assets/matrix.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main {
   margin-top: 20px;
    width: 300px;
    background: radial-gradient(#481192, #9837ff);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 44px 24px;

}

.currency-img-0{
    width: 100px;
    height: 50px;
    margin-top: 5vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));
}

.arrow-ico {
    width: 34px;
    height: 32px;
    margin-top: 51px;

}

.currency-img {
    width: 100px;
    height: 50px;
    margin-top: 5vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));
}

label {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));
}

select {
    background: #FFFF;
    border: 1px solid #BBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 900px;
    padding-left: 18px;
}

.input {
    background: #FFFF;
    border: 1px solid #BBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 900px;
    padding-left: 0px; 
}
button:hover {
    opacity: .8;

}

button:active {
    opacity: .5;
}
.convert-button {
    font-size: 18px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 220px;
    height: 40px;
    cursor: pointer;
    background: whitesmoke;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));
}
section {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: row;
    margin-left: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25))
}
p {
    margin-top: 8px;
    font-size: 20px;
    margin-left: 22px;
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));
}



footer {
    color: red;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 90vh;
    display: block;
}